<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.meituan.logan.web.mapper.LoganLogDetailMapper">
    <resultMap id="resultMap" type="com.meituan.logan.web.dto.LoganLogDetailDTO">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="task_id" jdbcType="BIGINT" property="taskId"/>
        <result column="log_type" jdbcType="INTEGER" property="logType"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
        <result column="log_time" jdbcType="BIGINT" property="logTime"/>
        <result column="add_time" jdbcType="TIMESTAMP" property="addTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <insert id="insert" parameterType="map" useGeneratedKeys="true" keyColumn="id"
            keyProperty="id">
      INSERT INTO logan_log_detail (task_id,log_type,content,log_time)
      VALUES (#{dto.taskId},#{dto.logType},#{dto.content},#{dto.logTime})
    </insert>

    <select id="selectById" parameterType="java.lang.Long" resultMap="resultMap">
        SELECT * FROM logan_log_detail WHERE id=#{id}
    </select>

    <insert id="batchInsert">
        INSERT INTO logan_log_detail(task_id,log_type,content,log_time) VALUES
        <foreach collection="list" item="dto" index="index" separator=",">
            (#{dto.taskId},#{dto.logType},#{dto.content},#{dto.logTime})
        </foreach>
    </insert>

    <select id="queryByTaskIdTypeKeyword" parameterType="map" resultMap="resultMap">
        SELECT * FROM logan_log_detail
        WHERE task_id = #{taskId}
        <if test="types != null and types.size() != 0">
            AND log_type IN
            <foreach collection="types" item="type" index="index" open="(" close=")" separator=",">
                #{type}
            </foreach>
        </if>
        <if test="keyword !=null">
            AND content LIKE CONCAT('%',#{keyword,jdbcType=VARCHAR},'%');
        </if>
    </select>
    <select id="queryByIds" parameterType="java.lang.Long" resultMap="resultMap">
        SELECT * FROM logan_log_detail
        WHERE id IN
        <foreach collection="ids" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>
</mapper>
